# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Expressif common doc 

MICSA_BRAIN/.devcontainer
MICSA_BRAIN/build
MICSA_BRAIN/.vscode
MICSA_BRAIN/components
MICSA_BRAIN/main
MICSA_BRAIN/CMakeLists.txt
MICSA_BRAIN/Makefile
MICSA_BRAIN/README.md
MICSA_BRAIN/MICSA_Application/.devcontainer
MICSA_BRAIN/MICSA_Application/build
MICSA_BRAIN/MICSA_Application/.vscode
MICSA_BRAIN/MICSA_Application/components
MICSA_BRAIN/MICSA_Application/main
MICSA_BRAIN/MICSA_Application/CMakeLists.txt
MICSA_BRAIN/MICSA_Application/Makefile
MICSA_BRAIN/MICSA_Application/README.md

!MICSA_BRAIN/inc
!MICSA_BRAIN/src